<app-navbar></app-navbar>

<div class="jumbotron">
  <a style="font-size:18px;color:#1160BF"> <mat-icon>assignment</mat-icon> <b> Sobre: </b> </a>
  <a style="font-size:14px"> projetofinal-progscripts </a> 
</div>

<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
  <div class="container">
      <p> Projeto possui o intuito de fornecer um suporte para criação de questionários de pesquisa exploratória, que são enviados por e-mail pare serem respondidas. Após podem ser verificadas as respostas e análisadas.</p> <BR>
      <div fxLayout="row" fxLayoutAlign="space-around center">
       <mat-icon style="font-size:60px; color:#136BD6">assignment</mat-icon> 
       <mat-icon style="font-size:60px; color:#136BD6">phonelink</mat-icon> 
       <mat-icon style="font-size:60px; color:#136BD6">equalizer</mat-icon> 
      </div>  <BR><BR><BR>
      <p> Elaborar um questionário é realmente um grande passo, mas é só o primeiro. Para aproveitar ao máximo as informações obtidas, use as referências para comparar seus resultados com os de todos do grupo. Feedbacks são uma forma importante de medir o sucesso nos ambiente estudados. Envie questionários para as pessoas e receba feedback sobre a opinião delas para ajudar a melhorar os resultados esperados.</p> <BR>
      <p> <b> Etapas da pesquisa: </b> </p>
      <p>Toda pesquisa de campo deve abordar o problema que quer resolver e se ela pode ser realizada de forma e no prazo correto. Assim, começa a etapa exploratória que averigua o terreno e expõe as limitações do projeto como tempo, orçamento e objeto de estudo. A partir disso são construídos instrumentos utilizados para coletar dados (pesquisas, entrevistas, questionários, etc.), através dos quais proporcionam informações que são analisadas detalhadamente e por onde será possível extrair um índice provisório. Com isso chega o momento de escrever um rascunho para discutir com outros especialistas antes da última etapa da pesquisa de campo, assim, o texto final é concluído com o conteúdo de apoio através de mapas, fotografias, quadros estatísticos, etc. </p> 
      <BR>
    <mat-divider> </mat-divider> <BR>
    <div>
      <a> <b> Faculdade de Tecnologia de São José dos Campos - Prof. Jessen Vidal </b> </a> <BR>
      <a> <b> Curso: </b> Analise e Desenvolvimento de Sistemas - B </a> <BR>
      <a> <b> Classe: </b> 4º Semestre Turma B </a> <BR>
      <a> <b> Disciplina: </b> Programação de Scrypts </a> <BR>
      <a> <b> Desenvolvedores: </b> Barbara Nogueira, Debora Santos, Edson Oliveira, Franklin Carvalheira </a> <BR><BR>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <img src="https://fatecsjc-prd.azurewebsites.net/images/logo/fatecsjc_10_anos_400x192.png" width="110" height="60">
      <img src="https://fatecsjc-prd.azurewebsites.net/images/logo/cps_brasao_sp_320x84.png" width="200" height="60">
    </div>
  </div>
</div>
<BR><BR><BR><BR>

